.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #104567;
    height: 47vw;
}

.right-box{
    background:#F8F9FB;
}
.featured-image{
    padding-left: 5vw;
}
.row{
    height: 30vw;
    width: 60vw;
}

